.boards-container .board-explorer {
  background: white;
  width: 256px;
  height: 100%;
}

.boards-container .board-explorer .menu-container .add-board-button {
  width: 100%;
  color: white!important;
  height: 60px!important;
}

.boards-container .board-explorer .menu-container .parent-list-item {
  background-color: #E6E3E3!important;
}