.query-viewer {
  overflow: scroll;
}
.query-viewer .query {
  padding: 20px;
}

.query-viewer .query .query-link {
  align-items: center;
  vertical-align: center;
  color: black;
  text-decoration: none;
}

.query-viewer .query .query-link:hover {
  color: #00bcd4;
}

.query-viewer .query .avatar {
  margin-right: 20px;
  width: 55px!important;
  height: 55px!important;
  display: inline-block;
}
.query-viewer .query .text {
  margin-right: 10px;
  vertical-align: top;
  width: 275px;
  display: inline-block;
}