.boards-container .board-container .box-container .box {
  width: 400px;
  height: 410px;

  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.boards-container .board-container .box-container .box .empty {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: 26px;
  transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
}

.boards-container .board-container .box-container .box .empty .text {
  margin-top: 20px;
}

.boards-container .board-container .box-container .box .query-viewer {
  max-height: 350px;
}