html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #F8F8F8;
  color: #47525E;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body, #root, #root > div {
  margin: 0;
  height: 100%;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

input, div, button {
  box-sizing: border-box;
  outline: none;
}

.center {
  width: 90%;
  margin: auto;
}

.brand-green-text {
  color: #13CE66
}

.brand-blue-text {
  color: #13B3CE;
}

.brand-gray-light-text {
  color: #F8F8F8;
}

.brand-gray-text {
  color: #E6E6E6;
}

.brand-gray-dark-text {
  color: #47525E;
}

.brand-green-bg {
  background-color: #13CE66
}

.brand-blue-bg {
  background-color: #13B3CE;
}

.brand-gray-light-bg {
  background-color: #F8F8F8;
}

.brand-gray-bg {
  background-color: #E6E6E6;
}

.brand-gray-dark-bg {
  background-color: #47525E;
}
